CONFIGURE_ARGS="\
linux-generic32 \
no-idea no-cast no-seed no-md2 no-threads \
-DL_ENDIAN \
"

# unneeded directories
UNNEEDED_SOURCES="\
VMS \
crypto/camellia \
crypto/cast \
crypto/cms \
crypto/idea \
crypto/md2 \
crypto/rc5 \
crypto/seed \
crypto/whrlpool \
demos \
doc \
engines \
ms \
test \
tools \
util \
"

# unneeded files
UNNEEDED_SOURCES+="\
CHANGES \
Configure \
FAQ \
INSTALL \
LICENSE \
Makefile \
NEWS \
README \
README.ENGINE \
apps/ts.c \
config \
crypto/dh/dh_prn.c \
crypto/engine/tb_asnmth.c \
crypto/engine/tb_pkmeth.c \
crypto/evp/m_md2.c \
crypto/modes/cts128.c \
crypto/pkcs7/bio_pk7.c \
crypto/ts/ts_asn1.c \
crypto/ts/ts_conf.c \
crypto/ts/ts_lib.c \
crypto/ts/ts_req_print.c \
crypto/ts/ts_req_utils.c \
crypto/ts/ts_rsp_print.c \
crypto/ts/ts_rsp_sign.c \
crypto/ts/ts_rsp_utils.c \
crypto/ts/ts_rsp_verify.c \
crypto/ts/ts_verify_ctx.c \
include/openssl/camellia.h \
include/openssl/cast.h \
include/openssl/cms.h \
include/openssl/idea.h \
include/openssl/mdc2.h \
include/openssl/seed.h \
include/openssl/whrlpool.h \
" 

NEEDED_SOURCES="\
apps \
crypto \
e_os.h \
e_os2.h \
ssl \
include \
"

